.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: var(--sidebar-background);
    filter: brightness(var(--sidebar-brightness));
    color: var(--sidebar-text);
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar.hidden {
    margin-left: -250px;
}

.sidebarHeader {
    padding: 20px;
}

.companyLogo {
    max-width: 100%;
    height: auto;
}

/* default hide sidebar (on big screens) */
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.hidden {
        margin-left: 0;
    }
}

@media (prefers-reduced-motion) {
    .sidebar {
        transition: none;
    }
}
