.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--secondary-color);
    color: var(--sidebar-text);
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar.hidden {
    margin-left: -250px;
}

.sidebar-header {
    padding: 20px;
    background: var(--secondary-color);
}

.company-logo {
    max-width: 100%;
    height: auto;
}

.sidebar-content {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
    flex-grow: 1;
}

/* default hide sidebar */
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.hidden {
        margin-left: 0;
    }
}

@media (prefers-reduced-motion) {
    .sidebar {
        transition: none;
    }
}
