.title {
    color: var(--sidebar-text);
    padding: 10px;
    margin-bottom: 0;
}

.projects-list {
    height: 420px;
    overflow-y: scroll;
}

.project-link {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.project-link:hover {
    color: var(--primary-color);
    background: var(--sidebar-hover);
}

.active {
    color: #fff;
    background: var(--tertiary-color);
}
