.title {
    color: var(--sidebar-text);
    padding: 10px;
    margin-bottom: 0;
}

.projectsList {
    height: 420px;
    overflow-y: scroll;
}

.projectLink {
    padding: 10px;
    font-size: 1.1em;
    display: block;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.projectLink:hover {
    background-color: var(--sidebar-hover);
    color: #fff;
}

.projectLink.active {
    background-color: var(--tertiary-color);
    color: #fff;
}
