.title {
    color: var(--sidebar-text);
    padding: 10px;
    margin-bottom: 0;
}

.projectsList {
    height: 420px;
    overflow-y: scroll;
}

.projectLink {
    padding: 10px;
    font-size: 1.1em;
    display: block;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.projectLink:hover {
    color: var(--primary-color);
    background: var(--sidebar-hover);
}

.projectLink.active {
    color: #fff;
    background: var(--tertiary-color);
}
