:root {
    --primary-color: white;
    --secondary-color: #d3d3d3;
    --tertiary-color: #e2ba39;
    --sidebar-text: black;
    --sidebar-hover: #e2ba3990;
    --avatar-bg: #e2ba39;
    --avatar-fg: white;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
    body {
      color: white;
      background: black;
    }
} */

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.7em;
    /* color: #999; */
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.4s;
}
