.wrapper {
    display: flex;
}

.sidebarToggleBtn {
    color: black;
    background-color: var(--sidebar-background);
    border-color: var(--sidebar-background);
}

.sidebarToggleBtn:hover {
    color: black;
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.sidebarToggleBtn:first-child:active {
    color: black;
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.navbar {
    padding: 15px 10px;
    background-color: var(--navbar-background);
    box-shadow: 1px 1px 3px var(--navbar-shadow-color);
    margin-bottom: 30px;
}

.content {
    width: 100%;
    padding: 20px;

    /* pages can use flex-grow-1 to take rest of space */
    display: flex;
    flex-direction: column;
}
