.main {
    background-color: #d3d3d3;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* mobile first */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
}

.logo {
    /* margin-top: -40px; */
    width: 100%;
    height: auto;
}

.form-grid {
    width: 100%;

    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
}

.links {
    padding: 0 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-link {
    font-weight: 600; /* semi-bold */
    color: black;
}

.sign-in-btn {
    height: fit-content;
    background: linear-gradient(to right, grey, #d8363a, #dd3675, #b44593);
}

/* tablets/large phones? */
@media screen and (min-width: 481px) {
    .wrapper {
        width: 60vw;
    }
}

/* TODO: outline on wrapper on bigger screens */

/* desktop */
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 35vw;
    }
}

/* extra large? 4K? */
@media screen and (min-width: 2560px) {
    .wrapper {
        width: 25vw;
    }
}
