.main-light {
    background-color: #d3d3d3;
}

.logo {
    width: 100%;
    height: auto;
}

.formGrid {
    display: grid;
    gap: 0.6rem;
}

.inputGrid {
    display: grid;
    gap: 1.2rem;
    grid-template-rows: repeat(2, 1fr);
}

.links {
    padding: 0 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signInBtn:not(:disabled) {
    background: linear-gradient(to right, grey, #d8363a, #dd3675, #b44593);
    color: white;
}
