.main {
}

/* mobile first */
.wrapper {
    padding-top: 50%;
    margin: auto;

    width: 75vw;
}

.logo {
    /* margin-top: -40px; */
    width: 100%;
    height: auto;
}

.formGrid {
    width: 100%;

    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
}

.links {
    padding: 0 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signupLink {
    font-weight: 600; /* semi-bold */
    color: black;
}

.signInBtn {
    height: fit-content;
    background: linear-gradient(to right, grey, #d8363a, #dd3675, #b44593);
}

/* tablets/large phones? */
@media screen and (min-width: 481px) {
    .main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 60vw;

        padding-top: 0;
        margin: 0;
    }
}

/* TODO: outline on wrapper on bigger screens */

/* desktop */
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 35vw;
    }
}

/* extra large? 4K? */
@media screen and (min-width: 2560px) {
    .wrapper {
        width: 25vw;
    }
}
