.textAvatar {
    /* https://stackoverflow.com/a/58367383 */
    /* width: 40px; */
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--avatar-fg);
    background: var(--avatar-bg);

    font-size: large;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
