html, body {
  background: #e9ecef;
}

.drag_item {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.tasks {
  min-height: 450px;
}